@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <p>This Project(Student Portal) is about to manage Students and Teachers information.</p>
        </div>
        <div class="col-3">
            <p>For more information or any queries
                <h5>Contact Us:</h5>
            watune.deep4@gmail.com
            ghoshsoumya22@gmail.com
            onlysubhranil1998@gmail.com
            anupkumarpaul5@gmail.com</p>
        </div>
    </div>
</div>