@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1><h2 class="display-4">To</h2><h1 class="display-4">Student Portal</h1>
       
        <a class="nav-link text-blue" asp-area="" asp-controller="Account" asp-action="Create">Register</a>
    </div>
